logs
bower_components
project/project
project/target
public/libs
conf/oauth2.conf
conf/host.key
conf/host.cert
node_modules/
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store

