
.container {
    margin-top: 30px;
}

.btn { outline: none ! important; }

div[editable-title] h2,div[editable-name] h2 {
    margin-left: 3px;
    font-size: 24px;
    font-weight: bold;
}

div[editable-title] input,div[editable-name] input {
    margin-top: 14px;
    font-size: 24px;
    font-weight: bold;
    width: 90%;
}

pre.json {
    width: 400px;
}

.link {
    cursor: pointer;
    color: midnightblue;
}
.link:hover {
    text-decoration: underline;
}

.fades {
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-in;
    -moz-transition: opacity 0.15s ease-in;
    -o-transition: opacity 0.15s ease-in;
    -ms-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
}
.fades.in{
    opacity: 1;
}

.fades_svg {
    opacity: 0;
}
.fades_svg.in{
    opacity: 1;
}


rect {
    fill: #f8fff1;
    stroke-width: 1;
    stroke: black;
}

.edgeLabel rect {
    fill: #fdf8ff;
    stroke-width: 1;
    stroke: black;
}


ul.flatlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.flatlist li {
    display: inline;
}

ul.flatlist li:after {
    content: ", ";
//    margin-right: 5px;
}

ul.flatlist li:last-child:after {
    content: "";
}

/*input.ng-invalid {*/
    /*border-color: red;*/
    /*outline-color: red;*/
/*}*/

/*input.ng-dirty {*/
    /*border-color: orange;*/
    /*outline-color: orange;*/
/*}*/

input[disabled] {
    background: #dadada;
}

textarea[disabled] {
    background: #dadada;
}

.btn-icon-onleft {
    margin-right: 8px;
}

.blue {
    color: blue;
}