/*To make the scrollbar visible, to avoid changeing layout.*/
html,body
{
    height:101%;
}

.container {
    margin-top: 30px;
}

.btn { outline: none ! important; }

div[editable-title] h2,div[editable-name] h2 {
    margin-left: 3px;
    font-size: 24px;
    font-weight: bold;
}

div[editable-title] input,div[editable-name] input {
    margin-top: 14px;
    font-size: 24px;
    font-weight: bold;
    width: 90%;
}

pre.json {
    width: 400px;
}

.link {
    cursor: pointer;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    -o-transition: opacity 0.25s ease-in;
    -ms-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in;
}
.fade.in{
    opacity: 1;
}
