#righttop_tools {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.exp_list_item, .sample_list_item {
    cursor: pointer;
}

.exp_list_item:hover, .sample_list_item:hover {
    background: #ffd6dd;
    transition: background 0.1s linear;
}
.exp_list_item.selected, .sample_list_item.selected {
    font-weight: bold;
    background: #ff87ca;
}

#explist_note {
    width: 400px;
    height: 200px;
}

/*#leftPane {*/
    /*height: 100%;*/
    /*overflow: auto;*/
    /*display: flex;*/
/*}*/

.listContainer {
    justify-content: center;
    overflow: auto;

}

td {
    cursor: pointer;
}

td.selected {
    background: pink;
}

td.selected.cell_runsample {
    background: orange;
}

td {
    padding: 0;
}

small {
    color: #bababa;
}

.fixedHeight {
    height: 800px;
    overflow: auto;
}

.runsample {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

input[disabled] {
    color: #a9a9a9;
}

.cell_runsample .empty_runsample {
    visibility: hidden;
}

.cell_runsample:hover {
    background: pink;
}

.cell_runsample:hover .empty_runsample {
    visibility: visible;
}

.leftPane {
    height:100%;
}

.rightPane {
    height:100%;
}

.nav-tabs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 46px;
}

#alertdiv {
    position: fixed;
    bottom: 0;
    right: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px; /* the bottom margin is the negative value of the footer's height */
}
#alertdiv {
    height: 70px; /* '.push' must be the same height as 'footer' */
    width: 70%;
    margin-right: 20px;
}


svg#protocol_graph {
    width: 100%;
    height: 600px;
}

#protocol_graph_wrapper {
    border: 1px #636a77 solid;
    -webkit-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
    cursor: pointer;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exp_list_item, .sample_list_item {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
    cursor: pointer;
    list-style: none;
    width: 90%;
}

.tree-node.selected {
    background: #ff87ca;
}

#protocol_graph {
    width: 80%;
}

#protocol_graph g.node {
    cursor: pointer;
}

g.node.selected rect {
    fill: #ff87ca;
}

g.node.selected-first rect {
    stroke-width: 3;
}

g.edgeLabel {
    cursor: pointer;
}

g.edgeLabel[data-selected] rect {
    fill: #cb75ff;
}

path {
    fill: none;
    stroke-width: 2;
    stroke: black;
}

marker {
    fill: black;
}

#sample_table {
    font-size: 12px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 500px;
}

td {
    padding: 0;
}

td.runsample_cell {
    padding: 0 ! important;

}

td.runsample_cell div {
    padding: 0 ! important;
    width: 100%;
    height: 100%;
}

.runsample_stub div {
   visibility: hidden;
}

.runsample_stub:hover div {
    visibility: visible ! important;
    background: pink;
}

th.run_header {
    cursor: pointer;
}

.paraminput {
    width: 100%;
    max-width: 200px;
}


.paraminput {
    border: 1px #d1d1d1 dotted;
}

.title_col {
    width: 150px;
}