@import play.api.libs.json.{JsValue,Json}


<!DOCTYPE html>
<html lang="en-US" ng-app='expsApp'>
    <head>
        <link rel="stylesheet" media="screen" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/public/libs/angular-ui-tree/dist/angular-ui-tree.min.css">

        <!-- My own stylesheets -->
        <link rel="stylesheet" media="screen" href="/public/stylesheets/common.css">
        <link rel="stylesheet" media="screen" href="/public/stylesheets/index.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>List of experiments</title>
    </head>
    <body ng-cloak ng-controller='itemListAndDetailCtrl' class='container'>
        <div id="righttop_tools">
            <button type="button" class="btn btn-default btn-sm" ng-model="showList.value" btn-checkbox >List</button>
        </div>

        <div class='row'>
            <div ng-show='showList.value' class='col-md-3 leftPane' ng-controller='itemListCtrl'>
                <tabset type="tabs">
                    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                        {{tab.content}}
                    </tab>
                </tabset>

                <div ng-if='isExpTab()'>
                    <button class='btn btn-default' ng-click='addExp()'>Add exp</button>
                    <ul>
                        <li ng-repeat='exp in exps' class='exp_list_item' ng-class='{selected: exp.id==selectedItem.exp.id}' ng-click='clickList(exp,$event)'>
                            <div ng-click='clickList(exp,$event)'>{{exp.title}}</div>
                        </li>
                    </ul>

                </div>
                <div ng-if='isSampleTab()'>
                    <div class='listContainer'>
                        <button class='btn btn-default' ng-click='addSample()'>Add sample</button>
                        <input type="text" ng-model='freeword.title'/>
                        <span>{{(samples| filter:freeword).length}}/{{samples.length}} samples shown.</span>
                        <ul>
                            <li ng-repeat='sample in samples| filter:freeword' class='sample_list_item' ng-class='{selected: sample.id==selectedItem.sample.id}' ng-click='clickList(sample,$event)'>
                                <div ng-click='clickList(sample,$event)'>{{sample.title}}</div>
                            </li>
                        </ul>

                    </div>

                </div>
                <div ng-if='isTypeTab()'>
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content" ng-click='clickTree(this)' ng-dblclick='dblClickTree(this)' ng-class='{selected: node.id==selectedItem.type.id}' >
                            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                            {{node.title}}
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="deleteTypeItem(this)"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
                        </ol>
                    </script>
                    <div ui-tree data-drag-enabled=false id="tree-root">
                        <ol ui-tree-nodes="" ng-model="treedata">
                            <li ng-repeat="node in treedata" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                        </ol>
                    </div>
                </div>
            </div>


            <div  ng-class='"row " + (showList.value ? "col-md-8 rightPane" : "col-md-11")' ng-if='isExpTab()' ng-controller='expDetailCtrl'>
                <div ng-if='!isActive()'>
            Choose from list.
                </div>
                <div ng-if='isActive()'>
                    <div ng-class="row" ng-controller='titleController'>
                        <div >
                            <div editable-title></div>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-sm btn-default" ng-href='/exps/{{selectedItem.id}}'>See Detail</a>
                        <a class="btn btn-sm btn-danger" ng-click='deleteExp(this)'>Delete</a>
                        <div class="btn-group">
                            <label class="btn btn-default btn-sm" ng-model="showSection.note" btn-checkbox>Note</label>
                            <label class="btn btn-default btn-sm" ng-model="showSection.protocol" btn-checkbox>Protocol</label>
                            <label class="btn btn-default btn-sm" ng-model="showSection.sample" btn-checkbox>Samples</label>
                        </div>
                    </div>
                    @*<div ng-controller='protocolGraphCtrl'>*@
                    @*<svg>*@
                    @*<g ng-repeat='n in nodes'>*@
                    @*<rect style='fill: pink;' ng-attr-x='n.x' ng-attr-y='n.y' width='100' height='100'></rect>*@
                    @*</g>*@
                    @*</svg>*@
                    @*Hey*@
                    @*<span>{{exp.protocolSamples.length}} nodes.</span>*@
                    @*</div>*@
                    <div class='row' >
                        <section ng-show='showSection.note' class='{{showList.value ? "col-md-8" : "col-md-11"}}'>
                            <h4>Note</h4>
                            <textarea name="" id="explist_note" cols="30" rows="10" ng-model='selectedItem.note'></textarea>
                        </section>
                    </div>
                    <div class='row' >
                        <section ng-show='showSection.protocol'>
                            <h4>Protocol</h4>
                        </section>
                    </div>
                    <div class='row' >
                        <section ng-show='showSection.sample'>
                            <h4>Input</h4>
                            <div ng-controller='inputSamplesCtrl'>
                                <div exp-samples></div>
                            </div>

                            <h4>Output</h4>
                            <div ng-controller='outputSamplesCtrl'>
                                <div exp-samples></div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>

            <div  ng-class='"row " + (showList.value ? "col-md-8 rightPane" : "col-md-11")' ng-if='isTypeTab()' ng-controller='typeDetailCtrl'>
                <div ng-if='!isActive()'>
            Choose from list.
                </div>
                <div ng-if='isActive()'>
                    <div ng-controller='titleController'>
                        <div editable-title></div>
                    </div>

                    <section>
                        <h3>Samples of this type</h3>
                        <span>{{(detail.samples|typeFilter:detail.id:showSubtypes).length}} samples.</span>
                        <button class='btn btn-sm' ng-click='addSample()'>Add</button>
                        <input id='showsubtypes' type="checkbox" ng-model='showSubtypes'/>
                        <label for="showsubtypes">Show subtypes</label>
                        <table class='table col-md-3'>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Date made</th>
                                    <th>Exp used</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='sample in detail.samples | typeFilter:detail.id:showSubtypes'>

                                    <td><a href="/samples/{{sample.id}}">{{sample.name}}</a></td>
                                    <td>{{sample.typ.name}}</td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#" ng-click='deleteSample(sample)'>Delete</a></td>
                                </tr>
                            </tbody>
                        </table>


                    </section>

                </div>

            </div>
            <div  ng-class='"row " + (showList.value ? "col-md-8 rightPane" : "col-md-11")' ng-if='isSampleTab()' ng-controller='sampleDetailCtrl'>
                <div class="col-md-8" ng-if='!isActive()'>
            Choose from list.
                </div>
                <div class="col-md-8" ng-if='isActive()'>
                    <div ng-controller='titleController'>
                        <div editable-title></div>
                    </div>
                </div>
            </div>


        </div>


        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>


            <!-- Frameworks and plugins that are available in CDN as well -->
<!--
        <script src="/public/libs/underscore/underscore.js"></script>
        <script src="/public/libs/angular/angular.min.js"></script>
        <script src="/public/libs/jquery/dist/jquery.min.js"></script>
        <script src="/public/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="/public/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
-->

            <!-- Library -->
        <script src='/public/libs/angular-ui-tree/dist/angular-ui-tree.min.js'></script>

        <!-- My own scripts -->
        <script src="/public/javascripts/dagre-d3-custom.js"></script>
        <script src="/public/javascripts/my_directives.js"></script>
        <script src="/public/javascripts/index.js"></script>

    </body>
</html>


