@import play.api.libs.json.{JsValue,Json}
@import models.Database.Id

@(id: Id, dat: JsValue)


<!DOCTYPE HTML>
<html lang="en" ng-app="sampleApp">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/experiment.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body ng-cloak ng-controller='sampleAppCtrl'>

        <a ng-href="/">Index</a>
        <a ng-href="/types">Types</a>

        <a href="/samples">To List</a>

        <div id='sampletitlediv'>
            <input ng-if='editingTitle' id="title_input" type="text" ng-model='sample.name' ng-keydown='keyDownTitle($event)'/>
            <h2 ng-if='!editingTitle' ng-dblclick='editTitle()'>{{sample.name}}</h2>

        </div>

        <script type="text/javascript">
        data = {sample: @Html(dat.toString), id: @Html(id.toString)}; // FIXME: Quotes should be added when using string ID.
        </script>

        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src='/assets/javascripts/angular.min.js'></script>
        <script type="text/javascript" src="/assets/javascripts/angular-debounce.js"></script>

        <script type="text/javascript" src='/assets/javascripts/sample.js'></script>
    </body>

</html>
