@import play.api.libs.json.{JsValue,Json}
@import models.Database.Id

@(id: Id, dat: JsValue)


<!DOCTYPE HTML>
<html lang="en" ng-app="expApp">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/experiment.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body ng-cloak ng-controller='expAppCtrl'>

        <a ng-href="/">Index</a>
        <a ng-href="/types">Types</a>

        <a href="/exps">To List</a>

        <div id='exptitlediv'>
            <input ng-if='editingTitle' id="title_input" type="text" ng-model='exp.name' ng-keydown='keyDownTitle($event)'/>
            <h2 ng-if='!editingTitle' ng-dblclick='editTitle()'>{{exp.name}}</h2>

        </div>

        <table class='table'>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th ng-repeat='run in exp.runs' ng-click='clickRun(run,$event)'>{{run.name}}</th>
                <th><button class='btn btn-xs' ng-click='addRun()'>
                    <span class='glyphicon glyphicon-plus'></span>
                </button></th>
            </tr>
            <tr ng-repeat='psample in exp.protocolSamples'>
                <td>
            {{psample.name}} ({{psample.typ.name}})
                </td>
                <td data-typeid='{{psample.typ.id}}'>{{psample.typ.name}}</td>
                <td ng-repeat='run in exp.runs' ng-class='cellClass(run.id,psample.id)'>
                    <span ng-if='runSample(run.id,psample.id)' ng-click='clickRunSample(run.id,psample.id,$event)'>
                {{runSample(run.id, psample.id).name}} ({{runSample(run.id, psample.id).typ.name}})
                    </span>
                    <span ng-if='!runSample(run.id,psample.id)' ng-click='assignRunSample(run.id,psample.id)'>
                Add sample
                    </span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><button class='btn btn-xs' ng-click='addPSample()'>
                    <span class='glyphicon glyphicon-plus'></span>
                </button></td>
            </tr>
        </table>
        <sample-inspector sample='selectedSample' type='selectedType' types='types'></sample-inspector>


        <script type="text/javascript">
        data = {exp: @Html(dat.toString), id: @Html(id.toString)}; // FIXME: Quotes should be added when using string ID.
        </script>

        <script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src='/assets/javascripts/angular.min.js'></script>
        <script type="text/javascript" src="/assets/javascripts/angular-debounce.js"></script>

        <script type="text/javascript" src='/assets/javascripts/experiment.js'></script>
    </body>

</html>
