<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Choose backup option</h4>
</div>
<div class="modal-body">
    <div style='text-align: center'>
        <a class='btn btn-lg btn-default' ng-click='downloadDB()' href="#">Download</a>
        <a class='btn btn-lg btn-default' ng-click='exportDB()' href="#">Google Drive</a>
        <a class='btn btn-lg btn-default' ng-click='emailDB()' href="#">Email</a>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click='$close()' data-dismiss="modal">Close</button>
</div>