<div class="fade row" ng-class="{in:loaded, 'col-md-8': showList.value, 'rightPane': showList.value, 'col-md-11': !showList.value}" ng-controller='ExpDetailCtrl'>
    <div ng-class="row" >
        <div editable-name item='item'></div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default btn-sm" ng-model="showDetailJson.value" btn-checkbox >JSON</button>
        <pre class='json' ng-if='showDetailJson.value'>{{item | json}}</pre>

        <a class="btn btn-sm btn-default" ng-href='/exps/{{item.id}}'>See Detail</a>
        <a class="btn btn-sm btn-danger" ng-click='deleteExp(item.id)'>Delete</a>
        <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="showSection.note" btn-checkbox>Note</label>
            <label class="btn btn-default btn-sm" ng-model="showSection.protocol" btn-checkbox>Protocol</label>
            <label class="btn btn-default btn-sm" ng-model="showSection.sample" btn-checkbox>Samples</label>
        </div>
    </div>
    <div class='row' >
        <section ng-show='showSection.note' class='{{showList.value ? "col-md-8" : "col-md-11"}}'>
            <h4>Note</h4>
            <textarea name="" id="explist_note" cols="30" rows="10" ng-model='selectedItem.note'></textarea>
        </section>
    </div>
    <div class='row' >
        <section ng-show='showSection.protocol'>
            <h4>Protocol</h4>
        </section>
    </div>
    <div class='row' >
        <section ng-show='showSection.sample'>
            <div>
                <div>
                    <span>Protocol sample type:
                <select ng-disabled='selectedPSamples.length != 1' ng-model="selectedPSamples[0].typ" ng-options="type as type.title for type in types"></select>
                </span>
                </div>
                <div>
                    Sample: <input type="text" ng-disabled='selectedSamples.length != 1' ng-model='selectedSamples[0].name' ng-model-options="{ updateOn: 'blur' }"/>
                    <span>Type:
                         <select ng-disabled='selectedSamples.length != 1' ng-model="selectedSamples[0].typ"
                                 ng-change='' ng-options="type as type.title for type in types"></select>
                    </span>
                    <span><a ng-disabled='selectedSamples.length != 1'  class='btn btn-sm btn-default' href="#/samples/{{selectedSamples[0].id}}">Detail</a></span>
                </div>

            </div>
            <table class='table'>
                <thead><tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th ng-repeat='run in item.runs' ng-click='clickRun(run,$event)'>{{run.name}}</th>
                    <th>
                        <a href="" class='btn btn-sm btn-default' ng-click='addRun(item)'>Add</a>
                    </th>
                </tr>
                </thead>
                <tbody><tr ng-repeat='psample in item.protocolSamples'>
                    <td><a href="" class='btn btn-sm btn-default' ng-click='deletePSample(psample.id)'>
                        <span class='glyphicon glyphicon-minus'></span>
                    </a></td>
                    <td ng-click='clickPSample(psample)' ng-class='{selected: isSelectedPS(psample)}'>{{psample.name}}</td>
                    <td>{{psample.typ.name}}</td>
                    <td ng-repeat='run in item.runs' ng-class='{cell_runsample: true, selected: runSample.selected}' ng-controller='RunSampleCtrl'>
                        <div class='runsample' ng-if='runSample.id' ng-click='clickRunSample($event)'>{{runSample.name}} <br><small>{{runSample.typ.name}}</small></div>
                        <div ng-if='!runSample.id' class='empty_runsample'>
                            <a class="btn btn-sm btn-primary" ng-click='addRunSample(psample,run)'><span class='glyphicon glyphicon-plus'></span></a>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr><td><a href="" class='btn btn-sm btn-default' ng-click='addPSample(item.id)'>Add</a></td></tr>
                </tbody>
            </table>
        </section>
    </div>
</div>