<div class="fades" ng-class="{in:loaded}">
    <div ng-class="row" >
        <div editable-name item='item'></div>
    </div>
    <div class="row">
        <!--<button type="button" class="btn btn-default btn-sm" ng-model="showDetailJson.value" btn-checkbox >JSON</button>-->
        <!--<pre class='json' ng-if='showDetailJson.value'>{{item | json}}</pre>-->

        <a class="btn btn-sm btn-danger" ng-click='deleteExp(item.id)'>Delete</a>
        <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="expViewMode.val" btn-radio='"summary"'>Summary</label>
            <label class="btn btn-default btn-sm" ng-model="expViewMode.val"  btn-radio='"define"'>Define</label>
            <label class="btn btn-default btn-sm" ng-model="expViewMode.val"  btn-radio='"record"'>Record</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-default btn-sm" ng-model="showSection.note" btn-checkbox>Note</label>
            <label class="btn btn-default btn-sm" ng-model="showSection.protocol" btn-checkbox>Protocol</label>
            <label class="btn btn-default btn-sm" ng-model="showSection.sample" btn-checkbox>Samples</label>
            <label class="btn btn-default btn-sm" ng-model="showSection.step" btn-checkbox>Steps</label>
        </div>
    </div>
    <div class='row' >
        <section ng-show='showSection.note' class='{{showList.value ? "col-md-8" : "col-md-11"}}'>
            <h4>Note</h4>
            <textarea name="" id="explist_note" cols="30" rows="10" ng-model='selectedItem.note'></textarea>
        </section>
    </div>
    <div class='row' >
        <section ng-show='showSection.protocol'> <!-- ng-if does not work. The controller in this section is necessary to keep track of updates.-->
            <h4>Protocol</h4>
            <protocol-graph ng-if='loaded' exp='item' selection='selectedPSamples'></protocol-graph>
        </section>
    </div>
    <div class='row' >
        <section ng-show='showSection.sample'>
            <h3>Samples</h3>
            <div>
                <div>
                    <span>Protocol sample type:
                <select ng-disabled='selectedPSamples.length != 1' ng-model="selectedPSamples[0].typ" ng-options="type as type.title for type in types"></select>
                </span>
                </div>
                <div>
                    Sample: <input type="text" ng-disabled='selectedSamples.length != 1' ng-model='sampleById(selectedSamples[0]).name' ng-model-options="{ updateOn: 'blur' }"/>
                    <span>Type:
                         <select ng-disabled='selectedSamples.length != 1' ng-model="sampleById(selectedSamples[0]).typ"
                                 ng-options="type as type.name for type in types"></select>
                    </span>
                    <span><a ng-disabled='selectedSamples.length != 1'  class='btn btn-sm btn-default' ui-sref="sample_id({id: selectedSamples[0].id})">Detail</a></span>
                </div>

            </div>
            <table class='table' id='sample_table'>
                <thead><tr>
                    <th style='width: 100px;'>
                        <a class='btn btn-xs btn-default' ng-click='addPSample(item.id)'>+Sample</a>
                        <a class='btn btn-xs btn-default' ng-click='addRun(item)'>+Run</a>
                    </th>
                    <th>Name</th>
                    <th>Type</th>
                    <th ng-repeat='run in item.runs' ng-click='clickRun(run,$event)' class='run_header'>{{run.name}}</th>
                </tr>
                </thead>
                <tbody><tr ng-repeat='psample in item.protocolSamples' ng-controller='ProtocolSampleCtrl'>
                    <td><a class='btn btn-xs btn-default' ng-click='deletePSample(psample.id)'>
                        <span class='glyphicon glyphicon-minus'></span>
                    </a></td>
                    <td ng-click='clickPSample(psample,$event)' ng-class='{selected: isSelectedPSample(psample)}'>{{psample.name}}</td>
                    <td>{{psample.typ.name}}</td>
                    <td ng-repeat='run in item.runs' ng-class='{cell_runsample: true, selected: isSelectedSample(), selected_cell: isSelectedCell()}' ng-controller='RunSampleCtrl'>
                        <div class='runsample' ng-if='id' ng-click='clickRunSample($event)'>{{name()}} <br><small>{{typName()}}</small></div>
                        <div ng-if='!id' class='empty_runsample' ng-click='clickEmptyCell($event)'>
                            <a class="btn btn-sm btn-primary" ng-click='addRunSample(psample,run,$event)'><span class='glyphicon glyphicon-plus'></span></a>
                            <a class="btn btn-sm btn-primary" ng-click='chooseRunSampleToAssign(psample,run)'><span class='glyphicon glyphicon-import'></span></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class='row' >
        <section ng-show='showSection.step' ng-if='loaded'>
            <h3>Steps</h3>
            <table class="table" id="step_table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th ng-repeat='run in item.runs' class='run_header'>{{run.name}}</th>
                </tr>
                </thead>

                <tbody ng-repeat='pstep in item.protocolSteps' ng-controller='ProtocolStepCtrl'>
                <tr class='run_time'>
                    <td ng-class='{title_col: true, selected: isSelectedPStep(pstep)}' ng-click='clickPStep(pstep,$event)'><b>{{pstep.name}}</b>
                        <a class='btn btn-xs btn-default' ng-click='addParamInTable(pstep,$event)'>+Param</a>

                    </td>
                    <td ng-repeat='run in item.runs' ng-class='{runsample_cell: true, runsample_stub: !runStep(run,pstep)}'>
                        <div ng-if='runStep(run,pstep)' ng-click='clickRunStep(run,pstep,$event)'>
                            Done: {{time(run,pstep)}}
                        </div>
                        <div ng-if='!runStep(run,pstep)'>
                            <a class='btn btn-xs btn-primary' ng-click='addRunStep(run,pstep)'><span class='glyphicon-plus glyphicon'></span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style='padding-left: 30px;'>Note</td>
                    <td ng-repeat='run in item.runs' ng-controller='RunStepNoteCtrl'>
                        <textarea type="" ng-disabled='!runstep' ng-model='runstep.note' ng-model-options="{ updateOn: 'blur' }"></textarea>
                    </td>
                </tr>
                <tr ng-repeat='param in pstep.params'>
                    <td>
                        <span class='glyphicon glyphicon-remove' ng-click='deleteParam(param)'></span>

                        {{param.name}} <small>({{unit(param)}})</small></td>
                    <td ng-repeat='run in item.runs' ng-controller='ParamCtrl' ng-class='{runsample_cell: true, runsample_stub: !runStep(run,pstep)}'>
                        <input class='paraminput' type='{{inputType(param)}}' step='{{inputType(param) =="number" ? "0.1" : ""}}'
                               ng-disabled='!runStep(run,pstep)' ng-model='runStepParam(run,pstep,param).value' ng-model-options="{ updateOn: 'blur' }"/>
                    </td>
                </tr>
                </tbody>

            </table>
            <pre class="json">{{item.runSteps|json}}</pre>

            <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->
            <!--<pre class="json">{{gridData|json}}</pre>-->

        </section>
        </div>
</div>