<div class="fade row" ng-class="{in:loaded, 'col-md-8': showList.value, 'rightPane': showList.value, 'col-md-11': !showList.value}" ng-controller='SampleDetailCtrl'>
    <div ng-class="row" >
    <div editable-name item='item'></div>
</div>

    <button type="button" class="btn btn-default btn-sm" ng-model="showDetailJson.value" btn-checkbox >JSON</button>
    <pre class='json' ng-if='showDetailJson.value'>{{selectedItem.sample | json}}</pre>
    <pre class='json' ng-if='showDetailJson.value'>{{item | json}}</pre>
</div>