<div class="fade row" ng-class="{in:loaded, 'col-md-8': showList.value, 'rightPane': showList.value, 'col-md-11': !showList.value}">
    <div ng-class="row" >
        <div editable-name item='item'></div>
    </div>
    <button type="button" class="btn btn-default btn-sm" ng-model="showDetailJson.value" btn-checkbox >JSON</button>
    <pre class='json' ng-if='showDetailJson.value'>{{selectedItem.type | json}}</pre>

    <pre class='json' ng-if='showDetailJson.value'>{{item | json}}</pre>

    <section>
        <h3>Samples of this type</h3>
        <span>{{(samples|typeFilter:id:showSubtypes).length}} samples.</span>
        <button class='btn btn-sm' ng-click='addSample()'>Add</button>
        <input id='showsubtypes' type="checkbox" ng-model='showSubtypes'/>
        <label for="showsubtypes">Show subtypes</label>
        <table class='table col-md-3'>
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date made</th>
                <th>Exp used</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat='sample in samples | typeFilter:id:showSubtypes'>

                <td><a ui-sref="sample_id({id: sample.id})">{{sample.name}}</a></td>
                <td>{{sample.typ.name}}</td>
                <td></td>
                <td></td>
                <td><a class='link' ng-click='deleteSample(sample)'>Delete</a></td>
            </tr>
            </tbody>
        </table>


    </section>
</div>
