<div ng-controller='TypeListCtrl'>
    <a class='btn btn-sm btn-default' href='#/exps'>Exp</a>
    <a class='btn btn-sm btn-default' href='#/samples'>Sample</a>
    <a class='btn btn-sm btn-default' href='#/types'>Type</a>

    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content" ng-click='selectItem(node)' ng-dblclick='dblClickTree(this)' ng-class='{selected: isSelectedType(node.id)}' >
            <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="deleteTypeItem(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div ui-tree data-drag-enabled=false id="tree-root">
        <ol ui-tree-nodes="" ng-model="treedata">
            <li ng-repeat="node in treedata" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>